
body
{
	
	background-color: black;
	font-family: Georgia;
	
}

a
{
	
	color:black;
	
}

.jumbotron
{

	color:#cccccc;
	background-color:black;
	
}

#parallaxHome
{
	background-image: url("division.jpg");
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	min-height: 700px;
	
}

#parallaxCity1
{
	background-image: url("nyc.jpg");
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	min-height: 700px;
	
}

#parallaxCity2
{
	
	background-image: url("grave.png");
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	min-height: 700px;
	
}

#parallaxDZ1
{
	
	background-image: url("dz.jpg");
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	min-height: 700px;
	
}

#parallaxDZ2
{
	
	background-image: url("thedz.jpg");
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	min-height: 700px;
	
}

#parallaxUnder
{
	
	background-image: url("under.jpg");
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	min-height: 700px;
	
}

#parallaxUnder2
{
	
	background-image: url("under2.jpg");
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	min-height: 700px;
	
}


#textalign
{
	
	padding:50px;
	padding-bottom:450px;
	
}

img{
	
	max-width:100%;
	height:auto;
	
}


